.indexRow {
    display: flex;
    width: 95%;
    margin-left: 20px;
    justify-content: space-between;
    padding: 0 10px 20px 10px;
}
.icon {
    width: 20px;
    height: 20px;
    border-radius: 0.75rem;
}
.indexRowName {
    width: 15%;
}
.indexRowChange {
    width: 5%;
}
.indexRowPrice {
    width: 20%;
}
