.coinTitle {
  background: white;
  margin-bottom: 10px;
  padding: 0 10px;
}

.coinTitleHeader {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid grey;
}

.coinTitleHeader .icon {
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.coinTitleHeader .name {
  color: black;
  margin-right: 10px;
}

.coinTitleHeader .symbol {
  color: grey;
}

.coinTitleFooter {
  padding: 15px 10px;
}

.coinTitleBottom-top {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 10px;
}

.price {
  font-size: 25px;
  font-weight: bold;
}

.coinTitleBottom-bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.arrowImg {
  width: 8px;
  height: 11px;
  margin-right: 4px;
}

.changeValueContainer {
  display: flex;
  align-items: center;
}
