.coinTitleHeader {
    display: flex;
    border-bottom: grey solid 1px;
    align-items: center;
    padding: 15px 10px 15px 10px;
}
.coinTitleHeader > .icon {
    width: 27px;
    height: 27px;
    margin-right: 10px;
}
.coinTitleHeader > .name {
    color: white;
    margin-right: 10px;
}
.coinTitleHeader > .symbol {
    color: grey;
}
.coinTitleBottom {
    display: block;
    border-bottom: grey solid 1px;
    padding: 15px 10px 15px 10px;
}
.coinTitleBottom > .coinTitleBottom-top {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.coinTitleBottom > .coinTitleBottom-top > .price {
    font-size: 25px;
    margin-right: 5px;
    font-weight: bold;
}
.coinTitleBottom > .coinTitleBottom-bottom {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.coinTitleBottom > .coinTitleBottom-bottom > div > img {
    width: 8px;
    height: 11px;
}