.indexRow {
    display: flex;
    width: 95%;
    padding: 5px 10px 5px 10px;
}
.indexRow-header {
    width: 40%;
}
.indexRow-header > .header-symbol {
    color: grey;
    font-size: 10px;
}
.icon {
    width: 20px;
    height: 20px;
    border-radius: 0.75rem;
}